<script src="js/contact.js" type="text/javascript" charset="utf-8"></script>
<script src="js/aws-sdk.min.js"></script>
<div id="contact" class="container h-100 my-5 py-5 px-5">
	<div class="row align-items-center px-3 py-2">
		<h2>Contact Me</h2>
	</div>
	<div class="row align-items-center py-5">
		<form class="needs-validation" novalidate>
			<label for="contact-name" class="form-label"></label>
			<input type="text" id="contact-name" class="form-control form-control-lg" placeholder="Name" required>
			<div class="valid-feedback">
			</div>
			<div class="invalid-feedback">
				Please enter a name
			</div>
			<label for="contact-email" class="form-label"></label>
			<input type="email" id="contact-email" class="form-control form-control-lg" placeholder="Email" required>
			<div class="valid-feedback">
			</div>
			<div class="invalid-feedback">
				Please enter a valid email
			</div>
			<label for="contact-phone" class="form-label"></label>
			<input type="phone" id="contact-name" class="form-control form-control-lg" placeholder="Phone" required>
			<div class="valid-feedback">
			</div>
			<div class="invalid-feedback">
				Please enter a valid phone number
			</div>
			<label for="contact-message" class="form-label"></label>
			<textarea type="text" id="contact-message" class="form-control form-control-lg" placeholder="Message..." required></textarea>
			<div class="valid-feedback">
			</div>
			<div class="invalid-feedback">
				Please enter a message
			</div>
			<!-- <input type="email" id="contact-email" class="form-control" placeholder="Email">
			<input type="phone" id="contact-phone" class="form-control" placeholder="Phone">
			<textarea type="textarea" id="contact-message" class="form-control" placeholder="Message..."></textarea> -->
			<div class="container py-4">
				<button type="submit" id="submit" class="btn btn-info">Submit</button>
			</div>
		</form>
	</div>
</div>