<script src="js/contact.js" type="text/javascript" charset="utf-8"></script>
<div id="contact" class="container h-100 py-5 px-5">
	<div class="row align-items-center px-3 py-2">
		<h2>Contact Me</h2>
	</div>
	<div class="row align-items-center px-3 py-2">
		<p>I'll likely respond faster if you use the email, but feel free to use this form.</p>
	</div>
	<div class="row align-items-center py-3">
		<div class="col col-lg-8">
			<input type="text" id="contact-name" class="form-control mb-4" placeholder="Name">
			<input type="email" id="contact-email" class="form-control mb-4" placeholder="Email">
			<input type="phone" id="contact-phone" class="form-control mb-4" placeholder="Phone">
			<textarea type="textarea" id="contact-message" class="form-control mb-4" placeholder="Message..."></textarea>
			<button type="button" id="submit" class="btn btn-info">Submit</button>
		</div>
	</div>
</div>