<script src="js/projects.js" type="text/javascript" charset="utf-8"></script>
<div id="projects" class="container my-5 py-5 px-5">
	<h3>Here are a few of the projects I've worked on in my spare time</h3>
	<div id="project-list-container" class="container-fluid mt-3" style="margin-bottom: 100px;">
    	<div id="loading" class="text-center">
    		<h4 class="mb-1">Loading jobs...</h4>
    	</div>
        <div id="project-list" class="card-columns">
        	<!-- Job cards go here -->
        </div>
    </div>

</div>