<div id="home-content" class="container my-auto mx-auto py-5 px-1">

    <h5>This site is a central location for the consumers of integrations. There are tools to view logs from integration runs, dive into reports and statistics about integration runs, and search, browse, and execute the integrations themselves.</h5>

    <div class="card-deck mb-3 py-5 px-auto w-auto">
        <div class="card">
            <div class="card-header">
                Logs
            </div>
            <div class="card-body">
                <p class="card-text">
                    This section holds the logs for all our running integrations for the last 30 days.
                </p>
            </div>
            <div class="card-footer text-center">
                <a id="test" href="#logs" onclick="loadLogs();" class="btn btn-sm btn-dark">Go to Logs</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Operations
            </div>
            <div class="card-body">
                <p class="card-text">
                    Here you can view and execute pipelines that have been exposed for consumer use.
                </p>
            </div>
            <div class="card-footer text-center">
                <a id="pins" href="#operations" onclick="loadOperations();"class="btn btn-sm btn-dark">Go to Operations</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Reporting
            </div>
            <div class="card-body">
                <p class="card-text">
                    This is a dashboard that shows execution statistics for all of our integrations. 
                </p>             
            </div>
            <div class="card-footer text-center">
                <a id="apps" href="#reporting" onclick="loadDashboard();" class="btn btn-sm btn-dark">Go to Reporting</a>
            </div>
        </div>

    </div>


</div>
