<script type="text/javascript" src="js/active.js"></script>

<nav class="navbar fixed-left navbar-expand-lg navbar-dark" style="background-color: #a50000">
    <a class="navbar-brand" href="index.html">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#documents" onclick="loadLogs();" id="nav-logs">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#operations" onclick="loadOperations();" id="nav-operations">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#reporting" onclick="loadDashboard();" id="nav-reporting">Contact</a>
            </li>
        </ul>
    </div>
</nav>